.object-tools {
    border: 0 none;
    float: right;
    margin: 0 0 -40px;
    overflow: hidden;
    padding: 0;
    position: relative;
    top: -40px;
}
.object-tools li:last-child {
    padding-right: 0;
}
.object-tools li:first-child, .object-tools li.first {
    padding-left: 0;
}
.object-tools li {
    display: inline;
    float: left;
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    padding-left: 5px;
    padding-right: 5px;
    white-space: nowrap;
}

.object-tools li a.grp-add-link {
    background: url("../images/icons-s96d5c23000.png") no-repeat scroll 0 -945px, linear-gradient(#999999, #888888) repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding-left: 28px;
}
.object-tools li a.grp-state-focus {
    opacity: 1;
}
.object-tools li a {
    background: linear-gradient(#999999, #888888) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #777;
    border-radius: 30px;
    color: #fff;
    display: block;
    font-weight: bold;
    opacity: 0.5;
    padding: 4px 15px;
}