{% extends "landing/base.html" %}
{% block content %}
<p style="float:left;margin-top:15px">Gracias por registrarte en el evento <b>Google@T2O:</b> <b>"Cómo crear campañas digitales eficaces"</b>.<br><br>
Te esperamos el martes 10 de junio de 2014 a las 09:00 en Torre Picasso planta 26, 28020 Madrid.</p>
<p  style="float:left;margin-top:15px">La invitación al evento ha sido enviada al email de contacto que has facilitado en el registro. <br /> Si no la recibes, por favor, revisa en la carpeta de correo no deseado o SPAM.</p>
{% endblock %}