<!DOCTYPE html>
<html lang="es">
<head>
<title>{% block title %}Django Al Descubierto{% endblock %}</title>
</head>
<body>
	<div id="wrapper">
		<div id="bg_white">
			<header>
				<h1><a href="#"><span>Google <img src="https://www.google.es/images/srpr/logo11w.png" /></span></a></h1>
				<div class="esquina"></div>
				<h2>Al descubierto:<br><b>Cómo sacar el máximo<br> partido a tu App</b></h2>
			</header>
			
			Prueba de envío<br><br>
			<a href="http://test-django-cloud-sql-1234.appspot.com/invitation/{{ idattendee }}/">Descargar acreditación</a>
			
			<footer>
			<div class="colores"></div>
			<p><a href="mailto:aldescubierto@google.com">Contacto</a> - <a href="http://www.google.com/intl/es/policies/privacy/" target="_blank">Términos y condiciones</a></p>
			
			</footer>	
		</div><!--fin bg_white-->
	</div><!--fin wrapper-->	
</body>
</html>
