<!DOCTYPE html>
<html lang="es">
<head>
<title>{% block title %}Eventos Django{% endblock %}</title>
</head>
<body>
	<div id="wrapper">
		<div id="bg_white">
			<header>
				<h1><a href="#"><span>EVENT <img src="" /></span></a></h1>
				<div class="esquina"></div>
				<h2>EVENTO<br><b>Cómo sacar el máximo<br> partido a tu App</b></h2>
			</header>
			
			Prueba de envío<br><br>
			<a href="/invitation/{{ idattendee }}/">Descargar acreditación</a>
			
			<footer>
			<div class="colores"></div>
			<p><a href="">Contacto</a> - <a href="" target="_blank">Términos y condiciones</a></p>
			
			</footer>	
		</div><!--fin bg_white-->
	</div><!--fin wrapper-->	
</body>
</html>
